package web

templ Index() {
	@Base() {
		<div id="hello-container">Welcome to the Jungle of Blox!</div>
        <a href="/api/docs/index.html">API Documentation</a>
	}
}

templ HelloPost(name string) {
	<div>Hello, { name }</div>
}
